*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

img {
	vertical-align: top;
}

ul li {
	list-style: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

/*-----------------------------------------------------*/


body {
	font-family: Montserrat;
	font-size: 16px;
	color: aliceblue;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*=__container] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 15px;
}

/*-----------------------------------------------------*/
.main__page {
	flex: 1 1 auto;
	margin: 0 auto;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	padding: 25px;
	width: 320px;
	height: 540px;
	border-radius: 30px;
	background: #161616;
	opacity: 0.8;
}

.player__logo {
	position: relative;
	padding: 0px 0px 80% 0px;
	min-width: 260px;
	min-height: 260px;

}

.player__logo img {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.player__song-title {
	font-size: 18px;
	font-weight: 700;
}

.player__song-author {
	font-size: 18px;
	color: #7A51E2;
	font-weight: 700;
}

.player__progress {
	margin: 10px;
	width: 100%;
	max-height: 11px;
	background: rgba(242, 242, 242, 0.40);
	border-radius: 5px;
	cursor: pointer;
}

.player__progress-item {
	justify-self: flex-start;
	width: 0%;
	height: 11px;
	background: #7A51E2;
	border-radius: 5px;
	border: 1px solid rgba(242, 242, 242, 0.80);
	box-shadow: 1px 0px 30px 0px rgba(122, 81, 226, 0.25);

}

.player__time {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
}

.time-played {}

.time-total {
	color: #7A51E2;
}

.player__controls {
	display: flex;
	gap: 25px;

}

.prev {
	cursor: pointer;
}

.play {
	cursor: pointer;
	margin: -6px 0px 0px 0px;
	opacity: 1;
}



.play img {
	width: 37px;
	height: 37px;
	background-color: #a286e9;
	border-radius: 50%;
	transition: all ease 0.5s;
}

.play img:hover {
	transition: all ease 0.5s;
	background-color: #7A51E2;
}

.hidden {
	display: none;
}

.img-pause {
	cursor: pointer;
	color: #7A51E2;
	display: none;
}

.active {
	display: block;
}

.next {
	cursor: pointer;
}

.player__extra-btns {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

}

.extra-btns-repeat {
	cursor: pointer;
}

.repeat-img1.hidden {
	display: none;
}

.repeat-img2 {
	display: none;
	width: 26px;
	height: 26px;
}

.repeat-img2.active {
	display: block;
}

.extra-btns-repeat.active {
	background-color: red;
}



/*-----------------------------------------------------*/
.footer {
	max-width: 100%;
	min-height: 70px;
	background: #161616;
	opacity: 0.5;

}

.footer__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.footer__link-githab {
	color: yellow;
	font-size: 24px;
	font-weight: 700;
}

.footer__text {
	color: yellow;
	font-size: 16px;
	font-weight: 700;
}

.footer__link-rsschool {
	background-color: yellow;
	width: 90px;
	height: 40px;
}

@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
	}
}